<!-- <h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1> -->

<div class="container">
  <div class="card col-md-4 col-md-offset-4">

<div *ngIf="!(authService.user | async)">

  <h1 align="center">Evo Gym Admin Login</h1>

  <h3 align="center">Login Form</h3>

<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input type="text" class="form-control" [(ngModel)]="email" placeholder="Email">
</div>

<div class="form-group">
  <label for="exampleInputPassword1">Password</label>
  <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password">
</div>

  <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="login()" [disabled]="!email || !password">
    Login
  </button>

  <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

</div>

  </div>
</div>

<router-outlet></router-outlet>

<br><br>
<!-- 
<ul>
  <li *ngFor="let todo of (todos$ | async)" [class.done]="todo.done">
    {{ todo.content }}
    {{ todo.roles }}
  </li>
</ul> -->

<div class="container">
  <div class="card col-md-4 col-md-offset-4">
<button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>
</div>
</div>